---
layout: default
title: Shoya Ishimaru
description: Shoya Ishimaru is a researcher at German Research Center for Artificial Intelligence (DFKI) and working toward Ph.D degree in The University of Kaiserslautern.
---

<div class="index-introduction">
  <img src="/assets/img/icon_portrait.jpg" />
  <p><b>Shoya Ishimaru</b> is a researcher at German Research Center for Artificial Intelligence (DFKI) and working toward Ph.D
  degree in The University of Kaiserslautern. His general research interests are inventing new technologies augmenting abilities of human begins and investigating influences of the augmentations to human minds [<a href="/aboutme/">read more</a>].</p>
</div>

<div class="index-projects">
  <div class="index-page">
    <h2>Research Projects</h2>
    {% for project in site.research_projects %}
      <div class="index-item">
        <div class="index-outer">
          <div class="index-inner" style="background-image: url('{{ project.image_url }}')"></div>
          <a href="{{ project.project_url }}"></a>
        </div>
        <h3>{{ project.title }}</h3>
      </div>
    {% endfor %}
    <h2>Fun Projects</h2>
    {% for project in site.fun_projects %}
      <div class="index-item">
        <div class="index-outer">
          <div class="index-inner" style="background-image: url('{{ project.image_url }}')"></div>
          <a href="{{ project.project_url }}"></a>
        </div>
        <h3>{{ project.title }}</h3>
      </div>
    {% endfor %}
  </div>
</div>