<footer class="site-footer">
  <div class="wrapper-footer">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-3">
        <p><span class="lsf">crown</span> 人気の記事</p>
        <ul>
        {% for popular in site.popular %}
          <li>- <a href="/blog/{{popular}}/" class="linkedTitle">Now loading..</a></li>
        {% endfor %}
        </ul>
      </div>
      <div class="footer-col  footer-col-3">
        <p><span class="lsf">list</span> 最近の記事</p>
        <ul>
        {% for post in site.posts limit:6 %}
          <li>- <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
      </div>
      <div class="footer-col  footer-col-1">
        <p><span class="lsf">tag</span> 記事のタグ</p>
        {% for tag in site.tags %}
        [<a href="/tag/{{ tag | first }}/">{{ tag | first }}</a>]
        {% endfor %}
      </div>
    </div>
    <div class="footer-bio">
      <a href = "https://github.com/shoya140/"><img src="/assets/img/icon_github.png" class="footer-icon"></a>
      <a href = "https://twitter.com/shoya140/"><img src="/assets/img/icon_twitter.png" class="footer-icon"></a>
      <script type="text/javascript" language="javascript">
      function mail(){var s="FI=;NCIHeBL?@tYG;CFNIqMBIS;eCMBCG;LOwAG;CFe=IGY",r="";
      for(i=0;i<s.length;i++)r+=String.fromCharCode((s.charCodeAt(i)+5)%93+33);eval(r);}
        document.write('<a href="javascript:mail()"><img src="/assets/img/icon_mail.png" class="footer-icon"></a>')</script>
      <a href = "/feed.xml"><img src="/assets/img/icon_rss.png" class="footer-icon"></a><br>
      <p>© 2014 - 2016 <a href="https://plus.google.com/102413339779614193497?rel=author">Shoya Ishimaru</a></p>
    </div>
  </div>
</footer>
<script type="text/javascript" src="/assets/js/jquery.1.10.2.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.color.js"></script>
<script type="text/javascript" src="/assets/js/star.js"></script>
<script type="text/javascript">Hatena.Star.Token = 'd2f3ada92845cdc5beeb7325518464d39adf9e88';</script>
<script src="/assets/js/main.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1918944-8']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
