---
layout: page
title: Blog
---
<div class="tag-header">
  {% for tag in site.tags %}
  <a href="/tag/{{ tag[0] }}/">#{{ tag[0] }}</a>({{ tag[1].size }})
  {% endfor %}
  </div>
{% for post in page.posts %}
<div class="post-list-item">
    <a href="{{ post.url | prepend: site.baseurl }}"></a>
    <span class="post-meta">
    	{{ post.date | date: "%b %-d, %Y" }}
    	{% for tag in post.tags %}[{{ tag }}]{% endfor %}
    </span>
    <h2 class="post-link">{{ post.title }}</h2>
</div>
{% endfor %}