---
layout: default
---
<div class="post">

  <header class="post-header">
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}
    {% for tag in page.tags %}
    [<a href="/tag/{{tag}}/">{{ tag }}</a>]
    {% endfor %}
    </p>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div class="article-relations">
  	{% if page.relations %}
    <h4><span class="lsf">check</span> 関連記事</h5>
    <ul>
    {% for relation in page.relations %}
      <li><a href="/blog/{{relation}}/" class="linkedTitle">Now loading..</a></li>
    {% endfor %}
    </ul>
    {% endif %}
  </div>

  <div class="pagenation">
    {% if page.previous %}
      <div class="page-button"><a href="{{ page.previous.url }}"></a><span class="lsf">left</span> Previous</div>
    {% else %}
      <div class="page-button-disabled"><span class="lsf">left</span> Previous</div>
    {% endif %}
    {% if page.next %}
      <div class="page-button"><a href="{{ page.next.url }}"></a>Next <span class="lsf">right</span></div>
    {% else %}
      <div class="page-button-disabled">Next <span class="lsf">right</span></div>
    {% endif %}
  </div>

</div>
